<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="62356quanbenSoft.SubtitleRT" Publisher="CN=98D59B96-F0DA-47DE-98FF-E00125CD4177" Version="1.1.0.8" />
  <Properties>
    <DisplayName>Subtitle RT</DisplayName>
    <PublisherDisplayName>quanbenSoft</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SubtitleRT.App">
      <m2:VisualElements DisplayName="Subtitle RT" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="SubtitleRT" ForegroundText="light" BackgroundColor="#D3D3D3">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="srt">
            <DisplayName>Subtitle File in SRT format</DisplayName>
            <InfoTip>Subtitle file in SRT format with .srt extension</InfoTip>
            <SupportedFileTypes>
              <FileType>.srt</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="sub">
            <DisplayName>Subtitle File in SUB format</DisplayName>
            <InfoTip>Subtitle file in SUB format with .sub extension</InfoTip>
            <SupportedFileTypes>
              <FileType>.sub</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>